@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&display=swap");

.button {
  background-color: var(--primary-01);
  border-radius: 16px;
  color: var(--grayscale-07);
  padding: 16px 30px;
  font-family: var(--font-semibold);
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  transition: background-color .2s ease,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
}

.button:hover {
  background-color: var(--grayscale-01);
  border: 2px solid var(--primary-01);
  transition: background-color .2s ease-in-out,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
  transform: scale(1.07);
  margin: -2px;
  will-change: transform;
}

.button--no-border:hover {
  border: none;
  margin: 0;
}

.button:hover:after {
    transform: translate(0);
    z-index: -1;
}

.button:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  transition: background-color .2s ease,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 80em;
  background-color: var(--grayscale-01);
}

.button:focus {
  border: 4px solid var(--primary-03);
  background: var(--primary-01);
  margin: -2px;
}
.button:focus:hover {
  background: var(--grayscale-01);
  border: 2px solid var(--primary-01);
margin: -2px;
}
.button:focus:active {
  background: var(--grayscale-01);
  border: 2px solid var(--primary-01);
}

.button:active {
  background-color: var(--primary-00) !important;
  border: none !important;
  /*margin: 0;*/
}
.button:active:after {
  position: relative;
  overflow: hidden;
  border: none ;
  /*margin: 0px;*/
}

.button:disabled {
  background-color: var(--grayscale-03);
  pointer-events: none;
}

