@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&display=swap");

.button {
  /*display: flex;*/
  background-color: var(--primary-01);
  border-radius: 16px;
  color: var(--grayscale-07);
  /*transition: background-color 0.2s ease-in;*/
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  /*box-sizing: content-box;*/
  /*position: relative;*/

  font-family: var(--font-semibold);
  font-size: 20px;
  font-weight: 600;

  /*transition: background-color .2s ease,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;*/
}

.button:hover {
  background-color: var(--grayscale-01);
  border: 2px solid var(--primary-01);
  transform: scale(110%) ;
  transition: background-color .2s ease,border-color .5s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
}

.button::after{
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  will-change: transform;
  background-color: var(--grayscale-06);
  transition: background-color .2s ease,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
}

button:disabled {
  background-color: var(--grayscale-03);
}
